# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /corponota10/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /corponota10/index.php [L]
</IfModule>

# END WordPress
